# the test folder
tests/

*.slo
*.lo
*.o
*.obj

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.swp
*~
*.log
*.tmp

.vscode/
*.pdf
*.txt
*.user
*.suo
*.userprefs

/bin/
/lib/
/lib64/
/build/
/vendor/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.local/
.wsl/

*.elf